{% extends "courses/course_dashboard.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li>/</li>
    <li><a href="{% url 'courses:lessons' course.slug %}">Aulas</a></li>
    <li>/</li>
    <li><a href="{% url 'courses:lesson' course.slug lesson.id %}">{{ lesson }}</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="well">
    <h2><a href="{% url 'courses:lesson' course.slug lesson.id %}">{{ lesson }}</a></h2>
    <p>
        {{ lesson.description|linebreaks }}
    </p>
    <p>
        <h4>Material da Aula</h4>
        <table class="pure-table full">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for material in lesson.materials.all %}
              <tr>                
                <td>
                    Vídeo de Apresentação
                </td>
                <td>
                    <a href="#">
                        <i class"fa fa-video-camera"></i>
                        Acessar
                    </a>
                </td>
              </tr>
              {% endfor %}
              <tr class="pure-table-odd">
                  <td>
                      Slides da Apresentação
                  </td>
                  <td>
                      <a href="#">
                          <i class"fa fa-download"></i>
                          Baixar
                      </a>
                  </td>
              </tr>
            </tbody>
        </table>
    </p>
</div>
{% endblock %}
